* {
    font-family: sans-serif;
  }
  p {
    font-size: 120%;
    font-weight: bold;
  }
  input, button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  input {
    display: block;
    margin-bottom: 20px;
  }
  button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
  }
  button:hover {
    transform: scale(1.05); /* Increase the size of the image on hover */
    transition: 0.5s;
    background: tomato;
    color: white;
  }
  button:nth-last-child(2), button:nth-last-child(1) { /*For reset input and rest result*/ 
    background: tomato;
    color: white;
  }
  button:nth-last-child(2):hover, button:nth-last-child(1):hover { /*For reset input and rest result*/ 
    transition: 0.5s;
    background: white;
    color: black;
  }  
  